/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.modal-body {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}
@media only screen and (min-width : 993px) {
	.modal-body-img {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.item {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
	}
}