/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.modal-body {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.item {
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
	}
}